<p-table 
        #achpatienttable
        [value]="patientListDS.patientlist"
        [columns]="selectedColumns"
        responsiveLayout="scroll"
        styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped"
        sortMode="multiple"
        [resizableColumns]="true"
        selectionMode="single"
        [(selection)]="selectedPatient"
        dataKey="encntrId"
        (onRowSelect)="onRowSelect($event)"
        [globalFilterFields]="['patientName','facility','location','drComment','rnComment','status']"
>
        <ng-template pTemplate="caption">
                <div class="p-grid">
                        <div class="p-col-2"> 
                                <p-multiSelect 
                                        [options]="cols" 
                                        [(ngModel)]="selectedColumns"
                                        optionLabel="header"
                                        selectedItemsLabel="{0} columns selected" 
                                        [style]="{minWidth: '200px'}" 
                                        placeholder="Choose Columns">
                                </p-multiSelect>
                        </div>
                        
                                
                        <div class="p-col-8">
                                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(achpatienttable)"></button>
                         
                                <span class="p-input-icon-left p-ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="achpatienttable.filterGlobal($any($event.target).value, 'contains')" placeholder="Global Search" />
                                </span>
                        </div>
                </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
                <tr>
                        
                <ng-container *ngFor="let col of columns">
                        <ng-container *ngIf="col.sortable">
                                <th pResizableColumn pSortableColumn="{{col.field}}">
                                        {{col.header}}
                                        <p-sortIcon field="{{col.field}}"></p-sortIcon>
                                </th>
                        </ng-container>
                        <ng-container *ngIf="!col.sortable">
                                <th pResizableColumn>{{col.header}}</th>
                        </ng-container>
                </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                 <ng-container *ngFor="let col of columns">
                 <td *ngIf="col.editable; else notEditable" pEditableColumn>
                        <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText 
                                                type="text" 
                                                [(ngModel)]="rowData[col.field]"
                                                (focus)="this.commentOriginalValue = rowData[col.field]" 
                                                (blur)="saveData(rowData, col.field)" 
                                                >
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData[col.field]}}
                                </ng-template>
                            </p-cellEditor>
                 </td>
                 <ng-template #notEditable>
                        <td>
                                <span *ngIf="col.type === 'date'">
                                        <ng-container *ngIf="rowData[col.field] !== '0000-00-00T00:00:00.000+00:00'">
                                                {{rowData[col.field] | date: 'dd/MM/yyyy hh:mm'}}
                                        </ng-container>
                                        <ng-container *ngIf="rowData[col.field] === '0000-00-00T00:00:00.000+00:00'">
                                                
                                        </ng-container>
                                </span>
                                <span *ngIf="col.type !== 'date'">{{rowData[col.field]}}</span>
                        </td>
                </ng-template>
                
                 </ng-container>
                </tr>
            </ng-template>

</p-table>
